In [11]:
# ! pip install d3graph
# ! pip install selenium

In [26]:
from d3graph import d3graph
size = [10, 20, 10, 10, 15, 10, 5]

# Initialize
d3 = d3graph()
# Load example
adjmat = d3.import_example('bigbang')
# Process adjmat
d3.graph(adjmat)

# Create graph in notebook
# d3.show(filepath=None, notebook=True)

[d3graph] INFO> Import dataset [bigbang]
[d3graph] INFO> Set directed=True to see the markers!
[d3graph] INFO> Keep only edges with weight>0
[d3graph] INFO> Number of unique nodes: 7

In [25]:
d3.show(filepath='./test.html', notebook=False)

[d3graph] INFO> Slider range is set to [1, 10]
[d3graph] INFO> Write to path: [/Users/developer6/Documents/Proyectos/IA_/Machine learning _ Data Mining/test.html]
[d3graph] INFO> File already exists and will be overwritten: [/Users/developer6/Documents/Proyectos/IA_/Machine learning _ Data Mining/test.html]

In [27]:
adjmat

target      Amy  Bernadette  Howard  Leonard  Penny  Rajesh  Sheldon
source
Amy         0.0         2.0     0.0      0.0    0.0     0.0      0.0
Bernadette  0.0         0.0     5.0      0.0    0.0     2.0      0.0
Howard      0.0         0.0     0.0      0.0    0.0     0.0      0.0
Leonard     0.0         0.0     0.0      0.0    0.0     0.0      0.0
Penny       3.0         0.0     0.0      5.0    0.0     0.0      0.0
Rajesh      0.0         0.0     0.0      0.0   10.0     0.0      0.0
Sheldon     5.0         0.0     2.0      3.0    0.0     0.0      0.0